html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 31, 31);
    overflow: hidden;
}

#gravity {
    background-color: rgb(13, 13, 41);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.planet {
    border-radius: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: absolute;
    max-width: 100vw;
}

button {
    padding: 3px;
    margin: 5px;
    min-width: 50px;
    border: 0px;
    border-radius: 2px;
    background-color: aqua;
}

button.hidden {
    display: none;
}