html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 31, 31);
    overflow: hidden;
}

#gravity {
    background-color: rgb(13, 13, 41);
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#gravity.bordered {
    border: solid 3px rgb(161, 161, 161);
}

.planet {
    border-radius: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: absolute;
    max-width: 100vw;
    align-items: center;
}

button {
    padding: 5px;
    margin: 5px;
    min-width: 50px;
    min-height: 30px;
    border: 0px;
    border-radius: 2px;
    background-color: aqua;
    cursor: pointer;
}

button.hidden {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

label {
    color: #ffffff;
}